<!DOCTYPE html>

<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" name="viewport">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link href="lib/index.css" rel="stylesheet" type="text/css" />
    <link href="lib/reset.css" rel="stylesheet" type="text/css" />
    <script src="lib/vue.min.js"></script>
    <script src="lib/jquery-1.7.2.min.js"></script>
    <title>选择优惠券</title>
</head>
<style>
    [v-cloak] {
        display: none;
    }

    input {
        position: absolute;
        z-index: 999;
        height: 100px;
    }
</style>
<!-- style="-webkit-overflow-scrolling:touch;overflow-y:auto;" -->

<body>
    <section id="app" v-cloak :class="show_page?'move_in':'move_out'">
        <div class="bg">
            <!-- 如果有优惠券数据，则展示优惠券，如果没有则展示“暂无优惠券” -->
            <div class="container_conpon" v-if="ticket_data.avlCouponNum!=0||ticket_data.invalidCouponNum!=0">
                <div class="no_use_ticket" @click="clickTicket_item(1,'')" v-if="ticket_data.avlCouponNum>0">
                    <span class="no_use_ticket_text">
                        不使用优惠券
                    </span>
                    <img v-bind:src="  merchandiseSelect.merchandiseId==''?'assets/Selected.png':'assets/UnSelected.png'" alt="" class="drop_down">
                </div>
                <div class="ticket_module">
                    <section>
                        <!-- 可用优惠券 -->
                        <div class="title_part" v-if="ticket_data.avlCouponNum>0">
                            <div class="have_how_much_ticket">有&nbsp;
                                <span>{{ticket_data.avlCouponNum}}</span>&nbsp;张可用优惠券 </div>

                        </div>
                        <div v-if=" ticket_data.avlCouponNum>0&&couponInfo_item.enabled==1" v-for="couponInfo_item in ticket_data.couponInfoToExPayList"
                            @click="clickTicket_item(2,couponInfo_item)" class="ticket_item">

                            <img src="assets/Coupon_Decoration.png" alt="" class="dec">
                            <img src="assets/right_cut@2x.png" class="right_cut">
                            <img src="assets/left_cut@2x.png" class="left_cut">
                            <!-- 改变颜色，在ticket_item_top后面加样式orange，purple，blue-->
                            <div class="ticket_item_top blue">
                                <!-- 三种优惠券 -->
                                <div class="ticket_name ">
                                    {{couponInfo_item.name}}
                                    <span v-if="couponInfo_item.nameExt"> {{couponInfo_item.nameExt}}</span>
                                </div>
                                <!-- 两种有效期 -->
                                <div class="ticket_detail">
                                    <span> {{couponInfo_item.limitTime}}</span>
                                    <br/>
                                    <span> {{couponInfo_item.limitTimeExplain}}</span>
                                </div>

                                <div class="ticket_value_part">
                                    <!-- 两种折扣 -->
                                    <section v-if="couponInfo_item.merchandiseType==2">
                                        <div class="ticket_value_discount">{{couponInfo_item.merchandiseValue.split('.')[0]}}
                                            <span>
                                                <span v-if="couponInfo_item.merchandiseValue.split('.')[1]">.{{couponInfo_item.merchandiseValue.split('.')[1]}}</span>折</span>
                                        </div>
                                        <div class="ticket_value_add">
                                            {{couponInfo_item.valueExplain}}
                                        </div>
                                    </section>
                                    <section v-if="couponInfo_item.merchandiseType==1||couponInfo_item.merchandiseType==0">
                                        <div class="ticket_value_money">
                                            ￥
                                            <span> {{couponInfo_item.merchandiseValue}}</span>
                                        </div>
                                        <div class="ticket_value_add">
                                            {{couponInfo_item.valueExplain}}
                                        </div>
                                    </section>


                                </div>
                            </div>
                            <div class="ticket_item_bottom possible_station">
                                <!-- 两种底部模块 -->
                                <!-- 多个可用油站模块 -->
                                <div v-if="couponInfo_item.stationNum>1" class="station_title">
                                    <div class="station_img_multi">
                                        <img src="assets/logo.png" alt="" class="item">
                                        <img src="assets/logo.png" alt="" class="item">

                                    </div>
                                    <div class="station_part">
                                        <div class="station_name">
                                            <span style="float:left;">
                                                <span style="display:inline" v-for="(limitStations_item,index) in couponInfo_item.limitStations">
                                                    {{limitStations_item.stationName}}、
                                                </span>
                                            </span>等{{couponInfo_item.stationNum}}个油站专享</div>
                                    </div>

                                    <img v-bind:src="  merchandiseSelect.merchandiseId==couponInfo_item.merchandiseId?'assets/Selected.png':'assets/UnSelected.png'"
                                        alt="" class="drop_down">
                                </div>
                                <!-- 单个可用油站模块 -->
                                <div v-if="couponInfo_item.stationNum==1" class="station_title">
                                    <div class="station_img_single">
                                        <img :src="couponInfo_item.limitStations[0].url" alt="" class="item">
                                    </div>
                                    <div class="station_part">
                                        <div class="station_name">
                                            <span> {{couponInfo_item.limitStations[0].stationName}}</div>
                                    </div>
                                    <img v-bind:src="  merchandiseSelect.merchandiseId==couponInfo_item.merchandiseId?'assets/Selected.png':'assets/UnSelected.png'"
                                        alt="" class="drop_down">

                                </div>
                                <!-- 全部可用油站模块 -->
                                <div v-if="couponInfo_item.stationNum==-1" class="station_title">
                                    <div class="station_img_single">
                                        <img src="assets/logo.png" alt="" class="item">
                                    </div>
                                    <div class="station_part">
                                        <div class="station_name">
                                            <span> 全部油站可用</div>
                                    </div>
                                    <img v-bind:src="  merchandiseSelect.merchandiseId==couponInfo_item.merchandiseId?'assets/Selected.png':'assets/UnSelected.png'"
                                        alt="" class="drop_down">

                                </div>
                            </div>
                        </div>
                        <div class="no_avlCoupon_blank" v-if="ticket_data.avlCouponNum==0">
                            暂无可用优惠券
                        </div>
                    </section>
                    <section v-if="ticket_data.invalidCouponNum>0">
                        <!-- 不可用优惠券 -->
                        <div class="title_part disabled">
                            <div class="have_how_much_ticket">
                                当前不可用的优惠券 </div>
                        </div>
                        <div class="ticket_item" v-if="couponInfo_item.enabled==2" v-for="couponInfo_item in ticket_data.couponInfoToExPayList">
                            <img src="assets/Coupon_Decoration.png" alt="" class="dec">
                            <img src="assets/right_cut@2x.png" class="right_cut">
                            <img src="assets/left_cut@2x.png" class="left_cut">
                            <div class="ticket_item_top grey">
                                <!-- 三种优惠券 -->
                                <div class="ticket_name ">
                                    {{couponInfo_item.name}}
                                    <span v-if="couponInfo_item.nameExt"> {{couponInfo_item.nameExt}}</span>
                                </div>
                                <!-- 两种有效期 -->
                                <div class="ticket_detail">
                                    <span> {{couponInfo_item.limitTime}}</span>
                                    <br/>
                                    <span> {{couponInfo_item.limitTimeExplain}}</span>
                                </div>

                                <div class="ticket_value_part">
                                    <!-- 两种折扣 -->
                                    <section v-if="couponInfo_item.merchandiseType==2">
                                        <div class="ticket_value_discount">{{couponInfo_item.merchandiseValue.split('.')[0]}}
                                            <span>
                                                <span v-if="couponInfo_item.merchandiseValue.split('.')[1]">.{{couponInfo_item.merchandiseValue.split('.')[1]}}</span>折</span>
                                        </div>
                                        <div class="ticket_value_add">
                                            {{couponInfo_item.valueExplain}}
                                        </div>
                                    </section>
                                    <section v-if="couponInfo_item.merchandiseType==1||couponInfo_item.merchandiseType==0">
                                        <div class="ticket_value_money">
                                            ￥
                                            <span> {{couponInfo_item.merchandiseValue}}</span>
                                        </div>
                                        <div class="ticket_value_add">
                                            {{couponInfo_item.valueExplain}}
                                        </div>
                                    </section>
                                </div>
                            </div>
                            <div class="ticket_item_bottom possible_station">
                                <!-- 不可用模块 -->
                                <div class="station_title disabled">
                                    {{couponInfo_item.unavailableCause}}
                                </div>
                            </div>
                        </div>
                    </section>
                    <div class="no_more_ticket_to_change">
                        没有更多优惠券了
                    </div>
                </div>
            </div>

            <div class="no_more_ticket" v-if="ticket_data.avlCouponNum==0&&ticket_data.invalidCouponNum==0">
                <div class="box">
                    <div>暂无优惠券</div>
                    <div></div>

                </div>

            </div>
        </div>
    </section>
</body>

<script>
    var ticket_data = {
        "avlCouponNum": 2,
        "invalidCouponNum": 3,
        "couponInfoToExPayList": [{
                "limitStationText": "",
                "color": "",
                "limitTimeExplain": "全天可用",
                "merchandiseType": 1,
                "limitStations": [

                ],
                "unavailableCause": "本身份不可用",
                "type": 1,
                "merchandiseValue": "10",
                "enabled": 2,
                "limitText": "",
                "limitTime": "30天后过期",
                "merchandiseId": "89977956",
                "stationNum": 0,
                "nameExt": "元岗加油钜惠",
                "valueExplain": "满200元可用",
                "addOnEjiayou": false,
                "name": "加油券",
                "limitMoney": "100",
                "supportSource": 0,
                "moreRules": null
            },
            {
                "limitStationText": "",
                "color": "",
                "limitTimeExplain": "全天可用",
                "merchandiseType": 2,
                "limitStations": [

                ],
                "unavailableCause": "限专快车使用",
                "type": 1,
                "merchandiseValue": "9.0",
                "enabled": 2,
                "limitText": "",
                "limitTime": "28天后过期",
                "merchandiseId": "897572",
                "stationNum": 0,
                "nameExt": "元岗加油钜惠",
                "valueExplain": "满200元可用",
                "addOnEjiayou": false,
                "name": "加油券",
                "limitMoney": "20",
                "supportSource": 0,
                "moreRules": null
            },
            {
                "limitStationText": "",
                "color": "",
                "limitTimeExplain": "15:00～21:00可用",
                "merchandiseType": 1,
                "limitStations": [{
                        "latitude": "22.800943",
                        "stationName": "中国油联上角加油站",
                        "url": "https://img.ejiayou.com/uploadPic/Image/2017/07/1499598905585.jpg",
                        "longitude": "113.714618",
                        "stationId": 58
                    },
                    {
                        "latitude": "22.827567",
                        "stationName": "霄边加油站",
                        "url": "https://img.ejiayou.com/uploadPic/Image/2017/07/1499433130350.jpg",
                        "longitude": "113.832971",
                        "stationId": 36
                    }
                ],
                "unavailableCause": "",
                "type": 2,
                "merchandiseValue": "20",
                "enabled": 1,
                "limitText": "",
                "limitTime": "16天后过期",
                "merchandiseId": "89977947",
                "stationNum": 2,
                "nameExt": "元岗加油钜惠",
                "valueExplain": "满200元可用",
                "addOnEjiayou": false,
                "name": "商品券",
                "limitMoney": "100",
                "supportSource": 0,
                "moreRules": null
            },
            {
                "limitStationText": "",
                "color": "",
                "limitTimeExplain": "15:00～21:00可用",
                "merchandiseType": 1,
                "limitStations": [{
                        "latitude": "22.800943",
                        "stationName": "中国油联上角加油站",
                        "url": "https://img.ejiayou.com/uploadPic/Image/2017/07/1499598905585.jpg",
                        "longitude": "113.714618",
                        "stationId": 58
                    },
                    {
                        "latitude": "22.827567",
                        "stationName": "霄边加油站",
                        "url": "https://img.ejiayou.com/uploadPic/Image/2017/07/1499433130350.jpg",
                        "longitude": "113.832971",
                        "stationId": 36
                    }
                ],
                "unavailableCause": "",
                "type": 2,
                "merchandiseValue": "20",
                "enabled": 1,
                "limitText": "",
                "limitTime": "16天后过期",
                "merchandiseId": "89977947",
                "stationNum": 2,
                "nameExt": "元岗加油钜惠",
                "valueExplain": "满200元可用",
                "addOnEjiayou": false,
                "name": "商品券",
                "limitMoney": "100",
                "supportSource": 0,
                "moreRules": null
            },
            {
                "limitStationText": "",
                "color": "",
                "limitTimeExplain": "15:00～21:00可用",
                "merchandiseType": 1,
                "limitStations": [{
                        "latitude": "22.800943",
                        "stationName": "中国油联上角加油站",
                        "url": "https://img.ejiayou.com/uploadPic/Image/2017/07/1499598905585.jpg",
                        "longitude": "113.714618",
                        "stationId": 58
                    },
                    {
                        "latitude": "22.827567",
                        "stationName": "霄边加油站",
                        "url": "https://img.ejiayou.com/uploadPic/Image/2017/07/1499433130350.jpg",
                        "longitude": "113.832971",
                        "stationId": 36
                    }
                ],
                "unavailableCause": "",
                "type": 2,
                "merchandiseValue": "20",
                "enabled": 1,
                "limitText": "",
                "limitTime": "16天后过期",
                "merchandiseId": "89977947",
                "stationNum": 2,
                "nameExt": "元岗加油钜惠",
                "valueExplain": "满200元可用",
                "addOnEjiayou": false,
                "name": "商品券",
                "limitMoney": "100",
                "supportSource": 0,
                "moreRules": null
            },
            {
                "limitStationText": "",
                "color": "",
                "limitTimeExplain": "15:00～21:00可用",
                "merchandiseType": 1,
                "limitStations": [{
                        "latitude": "22.800943",
                        "stationName": "中国油联上角加油站",
                        "url": "https://img.ejiayou.com/uploadPic/Image/2017/07/1499598905585.jpg",
                        "longitude": "113.714618",
                        "stationId": 58
                    },
                    {
                        "latitude": "22.827567",
                        "stationName": "霄边加油站",
                        "url": "https://img.ejiayou.com/uploadPic/Image/2017/07/1499433130350.jpg",
                        "longitude": "113.832971",
                        "stationId": 36
                    }
                ],
                "unavailableCause": "",
                "type": 2,
                "merchandiseValue": "20",
                "enabled": 1,
                "limitText": "",
                "limitTime": "16天后过期",
                "merchandiseId": "89977947",
                "stationNum": 2,
                "nameExt": "元岗加油钜惠",
                "valueExplain": "满200元可用",
                "addOnEjiayou": false,
                "name": "商品券",
                "limitMoney": "100",
                "supportSource": 0,
                "moreRules": null
            },
            {
                "limitStationText": "",
                "color": "",
                "limitTimeExplain": "15:00～21:00可用",
                "merchandiseType": 1,
                "limitStations": [{
                        "latitude": "22.800943",
                        "stationName": "中国油联上角加油站",
                        "url": "https://img.ejiayou.com/uploadPic/Image/2017/07/1499598905585.jpg",
                        "longitude": "113.714618",
                        "stationId": 58
                    },
                    {
                        "latitude": "22.827567",
                        "stationName": "霄边加油站",
                        "url": "https://img.ejiayou.com/uploadPic/Image/2017/07/1499433130350.jpg",
                        "longitude": "113.832971",
                        "stationId": 36
                    }
                ],
                "unavailableCause": "",
                "type": 2,
                "merchandiseValue": "20",
                "enabled": 1,
                "limitText": "",
                "limitTime": "16天后过期",
                "merchandiseId": "89977947",
                "stationNum": 2,
                "nameExt": "元岗加油钜惠",
                "valueExplain": "满200元可用",
                "addOnEjiayou": false,
                "name": "商品券",
                "limitMoney": "100",
                "supportSource": 0,
                "moreRules": null
            },
            {
                "limitStationText": "",
                "color": "",
                "limitTimeExplain": "15:00～21:00可用",
                "merchandiseType": 1,
                "limitStations": [{
                        "latitude": "22.800943",
                        "stationName": "中国油联上角加油站",
                        "url": "https://img.ejiayou.com/uploadPic/Image/2017/07/1499598905585.jpg",
                        "longitude": "113.714618",
                        "stationId": 58
                    },
                    {
                        "latitude": "22.827567",
                        "stationName": "霄边加油站",
                        "url": "https://img.ejiayou.com/uploadPic/Image/2017/07/1499433130350.jpg",
                        "longitude": "113.832971",
                        "stationId": 36
                    }
                ],
                "unavailableCause": "",
                "type": 2,
                "merchandiseValue": "20",
                "enabled": 1,
                "limitText": "",
                "limitTime": "16天后过期",
                "merchandiseId": "89977947",
                "stationNum": 2,
                "nameExt": "元岗加油钜惠",
                "valueExplain": "满200元可用",
                "addOnEjiayou": false,
                "name": "商品券",
                "limitMoney": "100",
                "supportSource": 0,
                "moreRules": null
            },
            {
                "limitStationText": "",
                "color": "",
                "limitTimeExplain": "15:00～21:00可用",
                "merchandiseType": 1,
                "limitStations": [{
                        "latitude": "22.800943",
                        "stationName": "中国油联上角加油站",
                        "url": "https://img.ejiayou.com/uploadPic/Image/2017/07/1499598905585.jpg",
                        "longitude": "113.714618",
                        "stationId": 58
                    },
                    {
                        "latitude": "22.827567",
                        "stationName": "霄边加油站",
                        "url": "https://img.ejiayou.com/uploadPic/Image/2017/07/1499433130350.jpg",
                        "longitude": "113.832971",
                        "stationId": 36
                    }
                ],
                "unavailableCause": "",
                "type": 2,
                "merchandiseValue": "20",
                "enabled": 1,
                "limitText": "",
                "limitTime": "16天后过期",
                "merchandiseId": "89977947",
                "stationNum": 2,
                "nameExt": "元岗加油钜惠",
                "valueExplain": "满200元可用",
                "addOnEjiayou": false,
                "name": "商品券",
                "limitMoney": "100",
                "supportSource": 0,
                "moreRules": null
            },
            {
                "limitStationText": "",
                "color": "",
                "limitTimeExplain": "15:00～21:00可用",
                "merchandiseType": 1,
                "limitStations": [{
                        "latitude": "22.800943",
                        "stationName": "中国油联上角加油站",
                        "url": "https://img.ejiayou.com/uploadPic/Image/2017/07/1499598905585.jpg",
                        "longitude": "113.714618",
                        "stationId": 58
                    },
                    {
                        "latitude": "22.827567",
                        "stationName": "霄边加油站",
                        "url": "https://img.ejiayou.com/uploadPic/Image/2017/07/1499433130350.jpg",
                        "longitude": "113.832971",
                        "stationId": 36
                    }
                ],
                "unavailableCause": "",
                "type": 2,
                "merchandiseValue": "20",
                "enabled": 1,
                "limitText": "",
                "limitTime": "16天后过期",
                "merchandiseId": "89977947",
                "stationNum": 2,
                "nameExt": "元岗加油钜惠",
                "valueExplain": "满200元可用",
                "addOnEjiayou": false,
                "name": "商品券",
                "limitMoney": "100",
                "supportSource": 0,
                "moreRules": null
            },
            {
                "limitStationText": "",
                "color": "",
                "limitTimeExplain": "15:00～21:00可用",
                "merchandiseType": 1,
                "limitStations": [{
                        "latitude": "22.800943",
                        "stationName": "中国油联上角加油站",
                        "url": "https://img.ejiayou.com/uploadPic/Image/2017/07/1499598905585.jpg",
                        "longitude": "113.714618",
                        "stationId": 58
                    },
                    {
                        "latitude": "22.827567",
                        "stationName": "霄边加油站",
                        "url": "https://img.ejiayou.com/uploadPic/Image/2017/07/1499433130350.jpg",
                        "longitude": "113.832971",
                        "stationId": 36
                    }
                ],
                "unavailableCause": "",
                "type": 2,
                "merchandiseValue": "20",
                "enabled": 1,
                "limitText": "",
                "limitTime": "16天后过期",
                "merchandiseId": "89977947",
                "stationNum": 2,
                "nameExt": "元岗加油钜惠",
                "valueExplain": "满200元可用",
                "addOnEjiayou": false,
                "name": "商品券",
                "limitMoney": "100",
                "supportSource": 0,
                "moreRules": null
            },
            {
                "limitStationText": "",
                "color": "",
                "limitTimeExplain": "15:00～21:00可用",
                "merchandiseType": 1,
                "limitStations": [{
                        "latitude": "22.800943",
                        "stationName": "中国油联上角加油站",
                        "url": "https://img.ejiayou.com/uploadPic/Image/2017/07/1499598905585.jpg",
                        "longitude": "113.714618",
                        "stationId": 58
                    },
                    {
                        "latitude": "22.827567",
                        "stationName": "霄边加油站",
                        "url": "https://img.ejiayou.com/uploadPic/Image/2017/07/1499433130350.jpg",
                        "longitude": "113.832971",
                        "stationId": 36
                    }
                ],
                "unavailableCause": "",
                "type": 2,
                "merchandiseValue": "20",
                "enabled": 1,
                "limitText": "",
                "limitTime": "16天后过期",
                "merchandiseId": "89977947",
                "stationNum": 2,
                "nameExt": "元岗加油钜惠",
                "valueExplain": "满200元可用",
                "addOnEjiayou": false,
                "name": "商品券",
                "limitMoney": "100",
                "supportSource": 0,
                "moreRules": null
            },
            {
                "limitStationText": "",
                "color": "",
                "limitTimeExplain": "15:00～21:00可用",
                "merchandiseType": 1,
                "limitStations": [{
                        "latitude": "22.800943",
                        "stationName": "中国油联上角加油站",
                        "url": "https://img.ejiayou.com/uploadPic/Image/2017/07/1499598905585.jpg",
                        "longitude": "113.714618",
                        "stationId": 58
                    },
                    {
                        "latitude": "22.827567",
                        "stationName": "霄边加油站",
                        "url": "https://img.ejiayou.com/uploadPic/Image/2017/07/1499433130350.jpg",
                        "longitude": "113.832971",
                        "stationId": 36
                    }
                ],
                "unavailableCause": "",
                "type": 2,
                "merchandiseValue": "20",
                "enabled": 1,
                "limitText": "",
                "limitTime": "16天后过期",
                "merchandiseId": "89977947",
                "stationNum": 2,
                "nameExt": "元岗加油钜惠",
                "valueExplain": "满200元可用",
                "addOnEjiayou": false,
                "name": "商品券",
                "limitMoney": "100",
                "supportSource": 0,
                "moreRules": null
            },
            {
                "limitStationText": "",
                "color": "",
                "limitTimeExplain": "15:00～21:00可用",
                "merchandiseType": 1,
                "limitStations": [{
                        "latitude": "22.800943",
                        "stationName": "中国油联上角加油站",
                        "url": "https://img.ejiayou.com/uploadPic/Image/2017/07/1499598905585.jpg",
                        "longitude": "113.714618",
                        "stationId": 58
                    },
                    {
                        "latitude": "22.827567",
                        "stationName": "霄边加油站",
                        "url": "https://img.ejiayou.com/uploadPic/Image/2017/07/1499433130350.jpg",
                        "longitude": "113.832971",
                        "stationId": 36
                    }
                ],
                "unavailableCause": "",
                "type": 2,
                "merchandiseValue": "20",
                "enabled": 1,
                "limitText": "",
                "limitTime": "16天后过期",
                "merchandiseId": "89977947",
                "stationNum": 2,
                "nameExt": "元岗加油钜惠",
                "valueExplain": "满200元可用",
                "addOnEjiayou": false,
                "name": "商品券",
                "limitMoney": "100",
                "supportSource": 0,
                "moreRules": null
            },
            {
                "limitStationText": "",
                "color": "",
                "limitTimeExplain": "15:00～21:00可用",
                "merchandiseType": 1,
                "limitStations": [{
                        "latitude": "22.800943",
                        "stationName": "中国油联上角加油站",
                        "url": "https://img.ejiayou.com/uploadPic/Image/2017/07/1499598905585.jpg",
                        "longitude": "113.714618",
                        "stationId": 58
                    },
                    {
                        "latitude": "22.827567",
                        "stationName": "霄边加油站",
                        "url": "https://img.ejiayou.com/uploadPic/Image/2017/07/1499433130350.jpg",
                        "longitude": "113.832971",
                        "stationId": 36
                    }
                ],
                "unavailableCause": "",
                "type": 2,
                "merchandiseValue": "20",
                "enabled": 1,
                "limitText": "",
                "limitTime": "16天后过期",
                "merchandiseId": "89977947",
                "stationNum": 2,
                "nameExt": "元岗加油钜惠",
                "valueExplain": "满200元可用",
                "addOnEjiayou": false,
                "name": "商品券",
                "limitMoney": "100",
                "supportSource": 0,
                "moreRules": null
            },
            {
                "limitStationText": "",
                "color": "",
                "limitTimeExplain": "15:00～21:00可用",
                "merchandiseType": 1,
                "limitStations": [{
                        "latitude": "22.800943",
                        "stationName": "中国油联上角加油站",
                        "url": "https://img.ejiayou.com/uploadPic/Image/2017/07/1499598905585.jpg",
                        "longitude": "113.714618",
                        "stationId": 58
                    },
                    {
                        "latitude": "22.827567",
                        "stationName": "霄边加油站",
                        "url": "https://img.ejiayou.com/uploadPic/Image/2017/07/1499433130350.jpg",
                        "longitude": "113.832971",
                        "stationId": 36
                    }
                ],
                "unavailableCause": "",
                "type": 2,
                "merchandiseValue": "20",
                "enabled": 1,
                "limitText": "",
                "limitTime": "16天后过期",
                "merchandiseId": "89977947",
                "stationNum": 2,
                "nameExt": "元岗加油钜惠",
                "valueExplain": "满200元可用",
                "addOnEjiayou": false,
                "name": "商品券",
                "limitMoney": "100",
                "supportSource": 0,
                "moreRules": null
            },
            {
                "limitStationText": "",
                "color": "",
                "limitTimeExplain": "18:00前可用",
                "merchandiseType": 2,
                "limitStations": [

                ],
                "unavailableCause": null,
                "type": 1,
                "merchandiseValue": "8",
                "enabled": 1,
                "limitText": "",
                "limitTime": "今天过期",
                "merchandiseId": "89979972",
                "stationNum": -1,
                "nameExt": "",
                "valueExplain": "满200元可用",
                "addOnEjiayou": false,
                "name": "加油券",
                "limitMoney": "20",
                "supportSource": 0,
                "moreRules": "不可叠加其他优惠、限92#/95#/0#使用、限APP/微信公众号使用"
            }
        ]
    }
    var ticket_data_origin = $.extend(true, {}, ticket_data);;
    var app = new Vue({
        el: "#app",
        data: {
            show_page: false, //控制优惠券页面显示隐藏，带有动画效果，初始化隐藏
            ticket_data: ticket_data, //优惠券数据
            merchandiseSelect: {
                merchandiseId: '89977947' //默认勾选的优惠券id
            },
            returnDiscountObj: {},
            input_it_dump: ''
        },
        methods: {

            clickTicket_item: function (type, couponInfo_item) {
                // type=1是不使用优惠券，type=2使用优惠券
                if (type == 2) {
                    this.ticket_data.couponInfoToExPayList.forEach(function (obj) {
                        if (couponInfo_item.merchandiseId == obj.merchandiseId) {
                            this.merchandiseSelect.merchandiseId = obj.merchandiseId; //更改选中优惠券id
                            app.returnDiscountObj = {
                                merchandiseId: obj.merchandiseId, //优惠券id
                                merchandiseType: obj.merchandiseType, //优惠券折扣类型，type=1为折扣券，type=2为满减券
                                value: obj.merchandiseValue, //优惠券值，折扣大小或者满减金额
                            }
                        }
                    })
                } else {
                    this.merchandiseSelect.merchandiseId = ''; //不使用优惠券
                    app.returnDiscountObj = {};
                }
                //然后返回页面
                document.getElementById('app').className = "move_out";
                setTimeout(function () {
                    document.getElementById('app').className = "move_in";
                    document.getElementById('app').style.display = "none";
                }, 1000);

                setTimeout(function () {
                    document.getElementById('app').style.display = "block";
                    document.getElementById('app').className = "move_in";
                }, 5000);

                this.merchandiseSelect.merchandiseType; //选择优惠券的id，如果没选则是''
                app.returnDiscountObj; //返回选中优惠券的id，类型，折扣
            },
            //未满可用金额数据处理
            can_not_use_ticket_to_disabled: function (input_num) {
                if (input_num) {
                    var _data = $.extend(true, {}, ticket_data_origin);
                    _data.couponInfoToExPayList.forEach(function (obj) {
                        if (obj.merchandiseType == 1 || obj.merchandiseType == 0) { //现金券
                            if (parseFloat(input_num) < parseFloat(obj.merchandiseValue) && obj.enabled ==
                                1) {
                                obj.enabled = 2;
                                obj.unavailableCause = "未满可用金额";
                                _data.avlCouponNum = parseInt(_data.avlCouponNum) - 1;
                                _data.invalidCouponNum = parseInt(_data.invalidCouponNum) + 1;
                            }
                            //输入金额小于满减金额
                            if (parseFloat(input_num) < parseFloat(obj.limitMoney) && obj.enabled ==
                                1) {
                                obj.enabled = 2;
                                obj.unavailableCause = "未满可用金额";
                                _data.avlCouponNum = parseInt(_data.avlCouponNum) - 1;
                                _data.invalidCouponNum = parseInt(_data.invalidCouponNum) +
                                    1;
                            }
                        }
                    });
                    this.ticket_data = _data;
                }
            },
            input_num_fun: function () {
                this.can_not_use_ticket_to_disabled(this.input_it_dump);
            }
        },
        created: function () {
            this.show_page = true;
            if (true) {
                app.ticket_data.couponInfoToExPayList.forEach(function (obj) {
                    if (obj.enabled == 1) {
                        app.ticket_data.avlCouponNum = parseInt(app.ticket_data.avlCouponNum)-1;
                        app.ticket_data.invalidCouponNum = parseInt(app.ticket_data.invalidCouponNum)+1;
                        obj.enabled = 2;
                    }
                });

            }
            document.getElementById('app').style.display = "block";
        }
    })
</script>

</html>