[v-cloak] {
  display: none;
}
html {
  font-size: 13.65px;
}
@media screen and (min-width: 321px) and (max-width: 375px) {
  html {
    font-size: 1rem;
  }
}
@media screen and (min-width: 376px) and (max-width: 414px) {
  html {
    font-size: 17.664px;
  }
}
@media screen and (min-width: 415px) and (max-width: 639px) {
  html {
    font-size: 19px;
  }
}
@media screen and (min-width: 640px) and (max-width: 719px) {
  html {
    font-size: 1.25rem;
  }
}
@media screen and (min-width: 720px) and (max-width: 749px) {
  html {
    font-size: 23px;
  }
}
@media screen and (min-width: 750px) and (max-width: 799px) {
  html {
    font-size: 1.5rem;
  }
}
@media screen and (min-width: 800px) {
  html {
    font-size: 1.5625rem;
  }
}
[v-cloak] {
  display: none;
}
@keyframes mymove {
  from {
    margin-top: 0px;
  }
  to {
    margin-top: 20%;
  }
}
@-webkit-keyframes mymove {
  /*Safari and Chrome*/
  from {
    margin-top: 0px;
  }
  to {
    margin-top: 20%;
  }
}
.bg {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: #EDECEB;
}
.bg .no_more_ticket {
  position: absolute;
  width: 100%;
  height: 100%;
  text-align: center;
  background-color: #EDECEB;
}
.bg .no_more_ticket .instruction {
  display: inline-block;
  line-height: 1rem;
  position: absolute;
  top: 0;
  margin-top: 0.7rem;
  right: 1rem;
  font-family: PingFangSC-Regular;
  font-size: 0.75rem;
  color: rgba(0, 0, 0, 0.52);
  letter-spacing: 0;
  line-height: 1.25rem;
  height: 1.25rem;
}
.bg .no_more_ticket .instruction img {
  width: 1rem;
  height: 1rem;
  position: absolute;
  top: 50%;
  margin-top: -0.5rem;
  left: 0;
}
.bg .no_more_ticket .instruction span {
  display: inline-block;
  position: relative;
  margin-left: 1.25rem;
}
.bg .no_more_ticket .box {
  position: absolute;
  width: 100%;
  height: 6.25rem;
  top: 50%;
  margin-top: -4.375rem;
}
.bg .no_more_ticket .box div:first-child {
  font-family: PingFangSC-Semibold;
  font-size: 1.8125rem;
  color: rgba(0, 0, 0, 0.24);
  letter-spacing: 0;
  line-height: 2.5rem;
  font-weight: bold;
}
.bg .no_more_ticket .box div:last-child {
  font-family: PingFangSC-Regular;
  font-size: 1.0625rem;
  color: #F2721D;
  letter-spacing: 0;
  line-height: 1.5rem;
  margin-top: 0.625rem;
}
.bg .no_more_ticket .box div:last-child img {
  width: 0.375rem;
  height: 0.75rem;
}
.bg .container_conpon {
  position: relative;
  width: 100%;
  min-height: 100%;
  height: auto;
  background-color: #EDECEB;
  border-bottom: 1px solid transparent;
  border-top: 1px solid transparent;
}
.bg .container_conpon .navTo {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  z-index: 19;
  padding: 16px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  background: rgba(0, 0, 0, 0.5);
  border: 1px solid transparent;
}
.bg .container_conpon .navTo .bombox {
  position: relative;
  width: 100%;
  padding: 6px 0;
  background-color: #fff;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  border: 1px solid transparent;
  animation: mymove 1s ease;
  animation-fill-mode: forwards;
  -webkit-animation: mymove 1s ease;
  -webkit-animation-fill-mode: forwards;
  /*Safari and Chrome*/
}
.bg .container_conpon .navTo .bombox img {
  position: absolute;
  width: 1rem;
  height: 1rem;
  right: 1rem;
  top: 1rem;
}
.bg .container_conpon .navTo .bombox > div,
.bg .container_conpon .navTo .bombox button,
.bg .container_conpon .navTo .bombox li {
  margin: 0 16px;
}
.bg .container_conpon .navTo .bombox div {
  margin-top: 12px;
}
.bg .container_conpon .navTo .bombox .button_div button {
  width: 100%;
  height: 35px;
  line-height: 35px;
  background-color: #FFA03C;
  color: #fff;
  border-style: none;
  font-size: 16px;
  letter-spacing: 1px;
  margin: 20px 0 20px 0;
}
.bg .container_conpon .navTo .bombox .button_div button:active {
  opacity: 0.8;
}
.bg .container_conpon .navTo .bombox .station_title {
  color: #878787;
  font-size: 16px;
}
.bg .container_conpon .navTo .bombox .station_name {
  color: #222;
  font-size: 13px;
}
.bg .container_conpon .navTo .bombox .station_addr {
  color: #222;
  font-size: 13px;
  margin-bottom: 12px;
}
.bg .container_conpon .navTo .bombox .instruction_title {
  color: #878787;
  font-size: 16px;
}
.bg .container_conpon .navTo .bombox hr {
  color: #F7F7F7;
  opacity: 0.4;
}
.bg .container_conpon .navTo .bombox .instruction_content {
  color: #222;
  font-size: 13px;
}
.bg .container_conpon .navTo .bombox .instruction_content li {
  margin-top: 10px;
}
.bg .container_conpon .navTo .bombox .instruction_content li span.list {
  text-align: center;
  width: 14px;
  height: 14px;
  line-height: 14px;
  background-color: #fff;
  border-radius: 50%;
  font-size: 10px;
  border: 1px solid #6b6b6b;
  display: inline-block;
  margin-right: 8px;
}
.bg .container_conpon .no_use_ticket {
  position: relative;
  height: 3.5rem;
  line-height: 3.5rem;
  margin: 1rem 1rem 0 1rem;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  background-color: #fff;
}
.bg .container_conpon .no_use_ticket .no_use_ticket_text {
  font-family: PingFangSC-Regular;
  font-size: 1.0625rem;
  color: rgba(0, 0, 0, 0.87);
  letter-spacing: 0;
  margin-left: 1rem;
}
.bg .container_conpon .no_use_ticket img {
  position: absolute;
  width: 1.5rem;
  right: 1rem;
  top: 50%;
  margin-top: -0.75rem;
}
.bg .container_conpon .ticket_module {
  padding: 0 1rem;
  width: 100%;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  background-color: #EDECEB;
  border-bottom: 1px solid transparent;
}
.bg .container_conpon .ticket_module .title_part {
  position: relative;
  height: 2.75rem;
  line-height: 2.75rem;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
.bg .container_conpon .ticket_module .title_part.disabled {
  height: 2rem;
  line-height: 0;
}
.bg .container_conpon .ticket_module .title_part .have_how_much_ticket {
  display: inline-block;
  font-family: PingFangSC-Regular;
  font-size: 0.75rem;
  color: rgba(0, 0, 0, 0.54);
  line-height: 1.25rem;
}
.bg .container_conpon .ticket_module .title_part .have_how_much_ticket span {
  color: #F2721D;
}
.bg .container_conpon .ticket_module .title_part .instruction {
  display: inline-block;
  position: absolute;
  top: 50%;
  margin-top: -0.625rem;
  right: 0;
  font-family: PingFangSC-Regular;
  font-size: 0.75rem;
  color: rgba(0, 0, 0, 0.52);
  letter-spacing: 0;
  line-height: 1rem;
  height: 1rem;
}
.bg .container_conpon .ticket_module .title_part .instruction img {
  width: 1rem;
  height: 1rem;
  position: absolute;
  top: 50%;
  margin-top: -0.5rem;
  left: 0;
}
.bg .container_conpon .ticket_module .title_part .instruction span {
  display: inline-block;
  position: relative;
  height: 1rem;
  line-height: 1;
  margin-left: 1.25rem;
}
.bg .container_conpon .ticket_module .ticket_item {
  position: relative;
  width: 100%;
  height: auto;
  background-color: #fff;
  margin-bottom: 1rem;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  border-top: 1px solid transparent;
  color: #F2721D;
}
.bg .container_conpon .ticket_module .ticket_item img.dec {
  position: absolute;
  width: 100%;
  top: -0.25rem;
  left: 0;
}
.bg .container_conpon .ticket_module .ticket_item img.right_cut {
  position: absolute;
  right: 0;
  top: 5.625rem;
  width: 0.3rem;
  height: 1rem;
  z-index: 9;
}
.bg .container_conpon .ticket_module .ticket_item img.left_cut {
  position: absolute;
  left: 0;
  top: 5.625rem;
  width: 0.3rem;
  height: 1rem;
  z-index: 9;
}
.bg .container_conpon .ticket_module .ticket_item .ticket_item_top {
  height: 5.25rem;
  margin: 0.75rem 1rem 0 1rem;
}
.bg .container_conpon .ticket_module .ticket_item .ticket_item_top .ticket_name {
  height: 1.875rem;
  line-height: 1.875rem;
  font-family: PingFangSC-Semibold;
  font-size: 1.25rem;
  letter-spacing: 0;
  line-height: 1.75rem;
  font-weight: bold;
}
.bg .container_conpon .ticket_module .ticket_item .ticket_item_top .ticket_name span {
  font-family: PingFangSC-Semibold;
  font-size: 0.875rem;
  color: rgba(0, 0, 0, 0.52);
  letter-spacing: 0;
  line-height: 1.25rem;
  list-style-type: disc;
}
.bg .container_conpon .ticket_module .ticket_item .ticket_item_top .ticket_name span:before {
  content: "· ";
}
.bg .container_conpon .ticket_module .ticket_item .ticket_item_top .ticket_detail {
  font-family: PingFangSC-Regular;
  font-size: 0.875rem;
  color: rgba(0, 0, 0, 0.52);
  letter-spacing: 0;
  line-height: 1.25rem;
  margin-top: 3px;
}
.bg .container_conpon .ticket_module .ticket_item .ticket_item_top .ticket_value_part {
  position: absolute;
  height: 6.25rem;
  right: 1rem;
  top: 1rem;
}
.bg .container_conpon .ticket_module .ticket_item .ticket_item_top .ticket_value_part .ticket_value_discount {
  font-family: PingFangSC-Regular;
  font-size: 2.625rem;
  letter-spacing: 0;
  line-height: 2.75rem;
  text-align: right;
}
.bg .container_conpon .ticket_module .ticket_item .ticket_item_top .ticket_value_part .ticket_value_discount span {
  font-size: 1.0625rem;
}
.bg .container_conpon .ticket_module .ticket_item .ticket_item_top .ticket_value_part .ticket_value_money {
  font-family: PingFangSC-Regular;
  font-size: 1.0625rem;
  letter-spacing: 0;
  line-height: 2.75rem;
  text-align: right;
}
.bg .container_conpon .ticket_module .ticket_item .ticket_item_top .ticket_value_part .ticket_value_money span {
  font-size: 2.625rem;
}
.bg .container_conpon .ticket_module .ticket_item .ticket_item_top .ticket_value_part .ticket_value_add {
  font-family: PingFangSC-Regular;
  font-size: 0.75rem;
  letter-spacing: 0;
  line-height: 1rem;
  text-align: right;
}
.bg .container_conpon .ticket_module .ticket_item .station {
  position: absolute;
  width: 100%;
  height: 3rem;
  line-height: 2.25rem;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  background-color: #fff;
  padding: 0 1rem 1rem 1rem;
}
.bg .container_conpon .ticket_module .ticket_item .station img.station_img {
  width: 2.25rem;
  height: 2.25rem;
}
.bg .container_conpon .ticket_module .ticket_item .station div {
  display: inline-block;
  font-family: PingFangSC-Regular;
  font-size: 0.875rem;
  color: rgba(0, 0, 0, 0.52);
  letter-spacing: 0;
  line-height: 1.25rem;
}
.bg .container_conpon .ticket_module .ticket_item .station img.drop_down {
  position: absolute;
  right: 1rem;
  width: 1.5rem;
  height: 1.5rem;
  top: 50%;
  margin-top: -0.75rem;
}
.bg .container_conpon .ticket_module .ticket_item .ticket_item_bottom {
  position: relative;
  width: 100%;
  line-height: 2.25rem;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  background-color: #fff;
  padding: 0 1rem 0.75rem 1rem;
}
.bg .container_conpon .ticket_module .ticket_item .ticket_item_bottom .station_title {
  position: relative;
  height: 3rem;
  line-height: 2.25rem;
  font-family: PingFangSC-Regular;
  font-size: 0.875rem;
  color: rgba(0, 0, 0, 0.87);
  letter-spacing: 0;
  line-height: 1.25rem;
  margin-top: 0.5rem;
}
.bg .container_conpon .ticket_module .ticket_item .ticket_item_bottom .station_title.disabled {
  height: auto;
  font-size: 0.875rem;
  color: #FF3B30;
  margin-left: 0;
  overflow: hidden;
  text-overflow: ellipsis;
}
.bg .container_conpon .ticket_module .ticket_item .ticket_item_bottom .station_title .station_img_multi {
  position: absolute;
  left: 0;
  width: 2.25rem;
  height: 2.25rem;
  background-color: #DAD7D5;
  padding: 0.125rem 0 0 0.125rem;
  border-radius: 0.125rem;
  top: 50%;
  margin-top: -1.125rem;
}
.bg .container_conpon .ticket_module .ticket_item .ticket_item_bottom .station_title .station_img_multi img.item {
  float: left;
  width: 0.8125rem;
  height: 0.8125rem;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  margin: 0.125rem;
}
.bg .container_conpon .ticket_module .ticket_item .ticket_item_bottom .station_title .station_img_single {
  position: absolute;
  left: 0;
  width: 2.25rem;
  height: 2.25rem;
  background-color: #DAD7D5;
  border-radius: 0.125rem;
  top: 50%;
  margin-top: -1.125rem;
}
.bg .container_conpon .ticket_module .ticket_item .ticket_item_bottom .station_title .station_img_single img.item {
  float: left;
  width: 100%;
  height: 100%;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
}
.bg .container_conpon .ticket_module .ticket_item .ticket_item_bottom .station_title .station_part {
  position: absolute;
  display: inline-block;
  font-family: PingFangSC-Regular;
  font-size: 0.875rem;
  color: rgba(0, 0, 0, 0.52);
  letter-spacing: 0;
  line-height: 1.5rem;
  height: 1.5rem;
  margin-left: 3.125rem;
  left: 0;
  top: 50%;
  margin-top: -0.75rem;
}
.bg .container_conpon .ticket_module .ticket_item .ticket_item_bottom .station_title .station_part .station_name span {
  display: inline-block;
  width: 7.5rem;
  height: 1.5rem;
  line-height: 1.5rem;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.bg .container_conpon .ticket_module .ticket_item .ticket_item_bottom .station_title .station_part .station_name span.not_limit_length {
  width: auto;
}
.bg .container_conpon .ticket_module .ticket_item .ticket_item_bottom .station_title img.drop_down {
  position: absolute;
  right: 0;
  width: 1.5rem;
  height: 1.5rem;
  top: 50%;
  margin-top: -0.75rem;
}
.bg .container_conpon .ticket_module .ticket_item .ticket_item_bottom .station_title img.drop_down.rotate {
  transform: rotate(180deg);
  -webkit-transform: rotate(180deg);
  /* Safari and Chrome */
}
.bg .container_conpon .ticket_module .ticket_item .ticket_item_bottom .station_name_title {
  position: relative;
  height: 3rem;
  line-height: 2.25rem;
  font-family: PingFangSC-Regular;
  font-size: 0.875rem;
  color: rgba(0, 0, 0, 0.87);
  letter-spacing: 0;
  line-height: 1.25rem;
}
.bg .container_conpon .ticket_module .ticket_item .ticket_item_bottom .station_name_title .station_name {
  height: 3rem;
  display: inline-block;
  font-family: PingFangSC-Regular;
  font-size: 0.875rem;
  color: rgba(0, 0, 0, 0.87);
  letter-spacing: 0;
  line-height: 3rem;
}
.bg .container_conpon .ticket_module .ticket_item .ticket_item_bottom .station_name_title img.drop_down {
  position: absolute;
  right: 0;
  width: 1.5rem;
  height: 1.5rem;
  top: 50%;
  margin-top: -0.75rem;
}
.bg .container_conpon .ticket_module .ticket_item .ticket_item_bottom .station_name_title img.drop_down.rotate {
  transform: rotate(180deg);
  -webkit-transform: rotate(180deg);
  /* Safari and Chrome */
}
.bg .container_conpon .ticket_module .ticket_item .ticket_item_bottom .station_img_scroll {
  min-height: 5.9375rem;
  height: auto;
}
.bg .container_conpon .ticket_module .ticket_item .ticket_item_bottom .station_img_scroll .swiper-container {
  width: 100%;
  height: 100%;
}
.bg .container_conpon .ticket_module .ticket_item .ticket_item_bottom .station_img_scroll div.swiper-slide {
  width: 7.6875rem;
  height: auto;
  text-align: center;
  font-size: 1.125rem;
  background: #fff;
  margin-right: 1rem;
  /* Center slide text vertically */
}
.bg .container_conpon .ticket_module .ticket_item .ticket_item_bottom .station_img_scroll div.swiper-slide img {
  display: block;
  width: 7.6875rem;
  height: 4.375rem;
}
.bg .container_conpon .ticket_module .ticket_item .ticket_item_bottom .station_img_scroll div.swiper-slide div {
  display: block;
  font-family: PingFangSC-Regular;
  font-size: 0.7rem;
  color: rgba(0, 0, 0, 0.52);
  letter-spacing: 0;
  line-height: 1rem;
  margin-top: 0.3125rem;
  text-align: left;
  height: 1.3rem;
  line-height: 1.3rem;
}
.bg .container_conpon .ticket_module .ticket_item .ticket_item_bottom .station_img_scroll div.swiper-slide div span {
  float: left;
}
.bg .container_conpon .ticket_module .ticket_item .ticket_item_bottom .station_img_scroll div.swiper-slide div span.limitLength {
  display: inline-block;
  width: 50%;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.bg .container_conpon .ticket_module .ticket_item .ticket_item_bottom .station_img_scroll div.swiper-slide div span.limitLength:last-child {
  padding-left: 3px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
.bg .container_conpon .ticket_module .ticket_item .ticket_item_bottom .more_rules {
  margin-top: 0.5rem;
}
.bg .container_conpon .ticket_module .ticket_item .ticket_item_bottom .more_rules .name {
  font-family: PingFangSC-Regular;
  font-size: 0.875rem;
  color: rgba(0, 0, 0, 0.87);
  letter-spacing: 0;
  line-height: 2rem;
}
.bg .container_conpon .ticket_module .ticket_item .ticket_item_bottom .more_rules .detail {
  font-family: PingFangSC-Regular;
  font-size: 0.75rem;
  color: rgba(0, 0, 0, 0.52);
  letter-spacing: 0;
  line-height: 1rem;
}
.bg .container_conpon .ticket_module .no_avlCoupon_blank {
  height: 375px;
  line-height: 375px;
  font-size: 29px;
  color: #BDBDBD;
  letter-spacing: 0;
  text-align: center;
  font-family: PingFangSC-Semibold;
  font-weight: 600;
}
.bg .container_conpon .no_more_ticket_to_change {
  width: 100%;
  font-family: PingFangSC-Regular;
  font-size: 0.75rem;
  color: rgba(0, 0, 0, 0.24);
  letter-spacing: 0;
  line-height: 1rem;
  text-align: center;
  margin-top: 1rem;
  margin-bottom: 2rem;
}
.bg .container_conpon .no_more_ticket_to_change span {
  color: #F2721D;
}
.bg .container_conpon .no_more_ticket_to_change img {
  width: 0.375rem;
  height: 0.75rem;
}
.purple {
  color: #9A6597;
}
.orange {
  color: #F2721D;
}
.blue {
  color: #578AA6;
}
.grey {
  color: rgba(0, 0, 0, 0.36);
}
@-webkit-keyframes move_in {
  0% {
    left: 100%;
    opacity: 1;
  }
  100% {
    left: 0;
    opacity: 1;
  }
}
@keyframes move_in {
  0% {
    left: 100%;
    opacity: 1;
  }
  100% {
    left: 0;
    opacity: 1;
  }
}
@-webkit-keyframes move_out {
  0% {
    left: 0;
    opacity: 1;
  }
  100% {
    left: 100%;
    opacity: 0;
  }
}
@keyframes move_out {
  0% {
    left: 0;
    opacity: 1;
  }
  100% {
    left: 100%;
    opacity: 0;
  }
}
.move_in {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 99;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
}
.move_out {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 99;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
}
.fali {
  height: 375px;
  line-height: 375px;
  font-size: 29px;
  color: #BDBDBD;
  letter-spacing: 0;
  text-align: center;
  font-family: PingFangSC-Semibold;
  font-weight: 600;
}
